.header {
  padding: 26px 0;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: center;
    column-gap: 26px;
  }
  &__list {
    display: flex;
    column-gap: 26px;
  }
  &__link {
    @include fonts(400, 18px, 27px);
    color: $primary-color;
  }
  &__right {
    display: flex;
    align-items: center;
    column-gap: 26px;
  }
  &__contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
    &-link {
      @include fonts(700, 17px, 25px);
      color: $primary-color;
    }
    &-desc {
      @include fonts(400, 14px, 21px);
      letter-spacing: 0.28em;
      color: $primary-color;
      opacity: 0.5;
    }
  }
  &__btns {
    display: flex;
    column-gap: 26px;
  }
  &__btnLight {
    background: $light-color;
    padding: 0 17px;
  }
  &__btnDark {
    background: $primary-color;
    padding: 0 25px;
  }
}

@media (max-width: 1025px) {
  .header__right {
    flex-direction: column;
    row-gap: 5px;
  }
}

@media (max-width: 769px) {
  .header__nav {
    flex-direction: column;
  }
}

@media (max-width: 641px) {
  .header__link {
    font-size: 17px;
  }
}

@media (max-width: 578px) {
  .header__link {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .header__left {
    flex-direction: column;
  }
}


@media (max-width: 376px) {
  .header__link {
    font-size: 13px;
  }
}