.rate {
  background: #E5E5E5;;
  padding: 51px 0;
  &__info {
    background: #ffffff;
    border-radius: 15px;
    padding: 51px 40px 23px;
    margin-top: 25px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  &__item {
    @include fonts(400, 20px, 140%);
    color: $primary-color;
    cursor: pointer;
  }
  &__row {
    display: flex;
    column-gap: 25px;
  }
  &__card {
    width: calc(20% - 20px);
    padding: 37px 19px;
    background: linear-gradient(180deg, #273158 0%, #0C244D 100%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    &-title {
      @include fonts(700, 30px, 44px);
      color: #ffffff;
      margin-bottom: 4px;
    }
    &-speed {
      display: flex;
      align-items: center;
      column-gap: 16px;
      @include fonts(700, 24px, 35px);
      color: #ffffff;
    }
    &-more {
      display: flex;
      align-items: center;
      column-gap: 5px;
      @include fonts(400, 18px, 140%);
      color: #ffffff;
      cursor: pointer;
      margin: 10px 0 15px;
    }
    &-line {
      height: 1px;
      background-color: $light-color;
    }
    &-price {
      @include fonts(700, 30px, 44px);
      color: #ffffff;
      display: flex;
      align-items: center;
      column-gap: 5px;
      margin: 10px 0;
    }
    &-volute {
      @include fonts(400, 18px, 140%);
    }
    &-btn {
      width: 100%;
      background: $light-color;
      border: 1px solid #6984F0;
      box-shadow: 10px 10px 28px rgba(105, 132, 240, 0.2);
    }
  }
  &__btn {
    background-color: $light-color;
    padding: 5px 86px;
    display: flex;
    margin: 36px auto 0;
  }
}