.about {
  padding: 64px 0;
  &__title {
    @include fonts(700, 48px, 130%);
    color: $primary-color;
  }
  &__row {
    display: flex;
    align-items: center;
    column-gap: 45px;
    margin: 37px 0 58px;
  }
  &__block {
    width: 50%;

    &-img {
      width: 100%;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #263057;
  }
  &__btn {
    display: flex;
    height: 48px;
    margin: 0 auto;
    background-color: $light-color;
    padding: 13px 35px;
  }

  &__mission {
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin-top: 55px;
    &-info {
      width: 60%;
    }
    &-text {
      @include fonts(400, 18px, 140%);
      color: $primary-color;
      margin-top: 15px;
    }
  }
  &__dynamic {
    margin: 93px 0 135px;
    &-row {
      display: flex;
      align-items: center;
      column-gap: 43px;
      margin-top: 42px;
    }
    &-list {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 30px;
    }
    &-item {
      width: calc(50% - 30px);
    }
    &-title {
      @include fonts(700, 60px, 130%);
      color: $light-color;
    }
    &-text {
      @include fonts(400, 16px, 140%);
      color: $primary-color;
    }
    &-img {
      width: 60%;
    }
  }
  &__best {
    margin-bottom: 97px;
    &-row {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      margin-top: 64px;
    }
    &-card {
      width: calc(25% - 15px);
    }
    &-icon {
      width: 68px;
      height: 62px;
    }
    &-title {
      @include fonts(700, 30px, 44px);
      color: $primary-color;
      margin: 25px 0 11px;
    }
    &-text {
      @include fonts(400, 18px, 140%);
      color: $primary-color;
    }
  }
  &__gallery {
    &-row {
      display: flex;
      column-gap: 20px;
      margin-top: 43px;
    }
    &-card {
      width: calc(33.33333% - 13.33333px);
      img {
        width: 100%;
      }
    }
  }
}