@import "assets/font/circe/stylesheet.css";
@import "mixins";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Circe", sans-serif;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  @include fonts(700, 48px, 130%);
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
}

.btn {
  height: 34px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  @include fonts(400, 15px, 22px);
  color: #ffffff;
}




@import "./Layout/Header/header";
@import "./pages/Main/Begin/begin";
@import "./pages/Main/Rate/rate";
@import "./pages/Main/News/news";
@import "./pages/Main/About/about";
@import "./pages/Main/Documents/documents";